# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
path = r'/Users/alejandrosalgado/Desktop/Instacart Basket Analysis'

In [2]:
ords_prods_merge = pd.read_pickle(r'/Users/alejandrosalgado/Desktop/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_v3.pkl')

In [7]:
df = ords_prods_merge

In [8]:
df.shape

(32404859, 22)

In [9]:
df.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

In [10]:
# Find the mean of orders by department id
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

This is the mean for all the department_ids in the dataset as opposed to the first one million rows. The dataset that shows one milliion rows is a smaller dataset and is not as accurate as the complete dataset.

In [12]:
# create a loyalty flag
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(15)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [14]:
# create loyalty flag with parameters
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

In [16]:
# Count number of customers by loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [19]:
ords_prods_merge[['customer_id', 'loyalty_flag', 'order_number']].head(20)

    customer_id      loyalty_flag  order_number
0             1      New customer             1
1             1      New customer             2
2             1      New customer             3
3             1      New customer             4
4             1      New customer             5
5             1      New customer             6
6             1      New customer             7
7             1      New customer             8
8             1      New customer             9
9             1      New customer            10
10           15  Regular customer            15
11           15  Regular customer            17
12           15  Regular customer            18
13           15  Regular customer            21
14           15  Regular customer            22
15           19      New customer             2
16           19      New customer             5
17           19      New customer             7
18           21  Regular customer            10
19           31  Regular customer            10

In [20]:
# check the mean min max  
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [24]:
# transform prices to see the average price
ords_prods_merge['average_price']= ords_prods_merge.groupby(['customer_id'])['prices'].transform(np.mean)

In [25]:
ords_prods_merge.head(60)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,False,196,14,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,False,196,9,0,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,True,196,4,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
30,2542086,52,11,2,9,7.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
31,944694,52,12,1,16,6.0,False,196,7,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
32,1268191,52,15,2,11,8.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
33,1122089,52,17,2,10,6.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
34,1498922,52,18,2,10,14.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
35,180919,52,19,3,8,8.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,27,Regular customer,6.356287
36,2695875,52,21,5,10,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
37,3205960,67,1,3,11,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790
38,970922,67,2,1,15,5.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
39,596585,67,3,1,13,7.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
40,2037087,67,4,2,9,8.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
41,2474111,67,5,3,14,8.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790
42,1568481,67,6,3,12,7.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,7.656790
43,2048527,67,8,2,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
44,2389031,67,9,2,14,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
45,2378562,67,10,1,10,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
46,1515698,67,11,1,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
47,1928050,67,12,2,12,8.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
48,1949274,67,13,1,10,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
49,551869,67,14,1,9,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
50,768572,67,16,4,10,9.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,24,Regular customer,7.656790
51,150528,67,18,5,16,4.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
52,29758,67,19,0,14,9.0,False,196,2,1,...,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,24,Regular customer,7.656790
53,1558976,67,21,1,9,5.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
54,863974,67,22,1,11,14.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
55,2308399,67,23,1,14,14.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790
56,2759128,81,3,1,9,14.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,7,New customer,8.165385
57,1812985,81,5,2,20,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7,New customer,8.165385
58,1889835,82,1,3,15,NaN,True,196,6,0,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,19,Regular customer,6.441221
59,499460,82,3,5,10,5.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer,6.441221

In [28]:
# create new columns 
ords_prods_merge.loc[ords_prods_merge['average_price']<10, 'spending_flag']= 'Low spender'

In [29]:
ords_prods_merge.loc[ords_prods_merge['average_price']>=10, 'spending_flag']= 'High spender'

In [30]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [33]:
ords_prods_merge[['customer_id', 'spending_flag', 'loyalty_flag', 'order_number']].head(20)

    customer_id spending_flag      loyalty_flag  order_number
0             1   Low spender      New customer             1
1             1   Low spender      New customer             2
2             1   Low spender      New customer             3
3             1   Low spender      New customer             4
4             1   Low spender      New customer             5
5             1   Low spender      New customer             6
6             1   Low spender      New customer             7
7             1   Low spender      New customer             8
8             1   Low spender      New customer             9
9             1   Low spender      New customer            10
10           15   Low spender  Regular customer            15
11           15   Low spender  Regular customer            17
12           15   Low spender  Regular customer            18
13           15   Low spender  Regular customer            21
14           15   Low spender  Regular customer            22
15           19   Low spender      New customer             2
16           19   Low spender      New customer             5
17           19   Low spender      New customer             7
18           21   Low spender  Regular customer            10
19           31   Low spender  Regular customer            10

In [40]:
# create order frequency flag 
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)

In [41]:
ords_prods_merge.shape

(32404859, 26)

In [42]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_previous_order,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,20.5

In [43]:
ords_prods_merge = ords_prods_merge.drop(columns = ['median_days_since_previous_order'])

In [44]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [46]:
# create frequency flag 
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order']>20, 'Frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order']>10) & (ords_prods_merge['median_days_since_prior_order']<=20), 'Frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order']<=10, 'Frequency_flag'] = 'Frequent customer'

In [47]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,Frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [48]:
# export
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_v4.pkl'))